footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(81, 81, 244);
    color: black;
    height: 100px;
    display: flex;
    float: left;
    padding: 5px;
    text-align: center;
    font-size: 15px;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(9, 9, 15);
    background-color: rgb(76, 209, 58);
    height: 100px;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    font-size: 25px;
}

section{
    width: 50vw;
    background-color: rgb(24, 168, 197);
    height: 50vh;
}
aside{
    height: 135vh;
    background-color: rgb(208, 208, 208);
    width: 47.5vw;
    color: rgb(0, 0, 0);
    float: right;
    right: 0;
    top: 0;
}
nav{
    height: 25vh;
    background-color: rgb(255, 158, 3);
    width: 50vw;
}
article{
    height: 50vh;
    background-color: rgb(32, 185, 134);
    width: 50vw;
    color: rgb(0, 0, 0);
    text-align: center;
}
aside ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
aside li {
    display: inline;
    text-align: center;
    flex: 1;
    background-color: rgb(43, 132, 50);
  }
  
aside a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 252, 252);
  }
  
aside form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
  }
h1{
    font-size:60px ;
}
h2{
    text-align: center;
}
p{
    font-size: 20px;
  }
 